:root{
    --primary:white;

}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(to right top, #8ccbfb, #74bcf9, #5eacf7, #4a9cf4, #3c8bef, #357fe7, #3074df, #2c68d6, #2460c9, #1a57bc, #0f4faf, #0047a3);
    text-align: center;
}

.header_nav{
    display:flex;
    justify-content: space-around;
    padding-top: 5px;
}

.header_nav span{
    text-transform: uppercase;
    font-size: 30px;
    color: var(--primary);
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul{
    list-style: none;
    text-decoration: none;
}

